<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>聊天室</title>
</head>

<body>
  <form method="post" action="send_msg">
    <textarea id="msg"></textarea>
    <button id="btn" type="submit">發送</button>
  </form>
</body>

</html>

<script>
  var app = require('express')();
  var http = require('http').Server(app);
  var io = require('socket.io')(http);

  io.on('connect', function (socket) {
    console.log('conenct', socket.id);
  });

  io.on('connection', function (socket) {
    console.log('connection', socket.id);
  });

  http.listen(1111);

</script>