<!DOCTYPE html>
<html>

<head>
    <title>登录</title>
</head>
<form id="login" method="post">
    <input type="text" id="Username" placeholder="Username" required="" />
    <input type="password" id="Password" placeholder="Password" required="" />
    <div class="submit-w3l">
        <input type="button" value="登录" onclick="myLogin()" class="submit-button">
    </div>
    <p class="p-bottom-w3ls">如果你还没有一个账号,可以在<a href="{{ url_for('auth.register') }}">这里</a>注册</p>
</form>
<script type="text/javascript" src="/static/auth/js/jquery-2.1.4.min.js"></script>
<script>
    function myLogin() {
        var data = {};
        data['Username'] = $("#Username").val();
        data['Password'] = $("#Password").val();
        $.ajax(
            {
                type: 'POST',
                url: "{{ url_for('auth.login') }}",
                data: data,
                success: function (re) {
                    if (re == False) {
                        alert("Invalid username or password.");
                    } else if (re == True) {
                        window.location.href = "{{ url_for('index') }}";
                    }
                },
                error: function (xhr, type) {

                }
            }
        );
    }

</script>
</body>

</html>